/* --------------------RESET CSS----------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  

}

/* -------------RELATIONAL CSS--------------- */

.container {
  max-width: 1500px;
  margin: 0 auto;
  justify-content: center;
  

}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
}


/*------------------- HEADER ----------------*/
header {
  background-color: rgb(31, 203, 194);
  width: 100%;
  padding: 20px;
  
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.name {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #111;
}

.name a {
  color: #111;
  font-size: 35px;
  text-decoration: none;
 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.name span{
    color: rgb(180, 141, 41);
    
}

nav ul {
  display: flex;
  
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #111;
    padding: 30px;
    font-size: 20px;
    
}

nav ul li a:hover{
    background-color: rgb(180, 141, 41);
    color: #111;
    border-radius: 16px;
    
}

/* --------------------HEADER END------------------- */

/* ----------MAIN------------ */
main{
  flex-grow: 1;
}

/*---------- cards---------- */
.cards {
  width: 370px;
  height: 430px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px;
}
.cards h3 {
  text-align: center;
  padding: 25px 0;
  margin: 15px;
  font-size: 25px;
  color: rgb(14, 184, 176);
  font-family: Georgia, serif;
}
.body {
  padding: 15px;
}
.body h5 {
  margin: 10px 0;
  font-size: 18px;
}
.body button {
  margin: 10px 0;
  padding: 6px;
  color: #111;
  background-color: lightseagreen;
  border: none;
}
/* ---------------------cards end----------------------- */


/* -----------FOOTER------------ */
footer{
    background-color: darkgoldenrod;
}
.footer-container{
    width: 100%;
    padding: 10px 20px;
}
.social-icon{
    display: flex;
    justify-content: center;
}
.social-icon a{
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    background-color: #111;
    border-radius: 10%;
}
.social-icon a i{
    font-size: 2rem;
    color: darkgoldenrod;
    opacity: 0.9;
}
.social-icon a:hover{
   background-color: #111;
   transition: 0.5s;

}
.social-icon a:hover i{
    color:  white;
    transition: 0.5s;

}
.footer-id{
    margin: 30px 0;

}
.footer-id ul{
    display: flex;
    justify-content: center;
    
}
.footer-id ul li{
    list-style: none;
}
.footer-id ul li a{
    opacity: 0.7;
    margin: 10px 20px;
    font-size: 1.3rem;
    color: #111;
    text-decoration: none;
    transition: 0.5s;
}
.footer-id ul li a:hover{
    opacity: 1;

}
.footer-bottom{
    background-color: #111;
    padding: 20px;
    text-align: center;
}
.footer-bottom p{
    color: white;
}
/* --------------------------FOOTER END--------------------- */




/* ----------RESPONSIVE LINE--------------- */

@media (max-width: 576px) {
  .flex-part{
      width: 100%;
  }
}

@media (min-width: 577px) and (max-width:1024px) {
    .flex-part{
    width: 50%;

   }
}

@media (min-width: 1025px) {
  .flex-part{
      width: 33.3333%;
  }
}